<section class="forms">
  <div class="container-fluid">
    <header>      
      <h1 class="h3 display">Profile</h1>
    </header>
    <div class="row">
      <div class="col-lg-2 text-center">
        <br>
        <img style="width: 200px" gravatar [email]="sessionService.me.email" [size]="200" class="img-fluid rounded-circle">
        <small>Photo by <a href="https://pt.gravatar.com/" target="_blank">Gravatar</a></small>
      </div>
      <div class="col-lg-10">
        <div class="card">
          <div class="card-header d-flex align-items-center">
            <h2 class="h5 display display">{{ sessionService.me.name }} profile</h2>
            <div class="actions-right">
              <i class="hover cursor text-success fa fa-edit fa-2x" (click)="edit()"></i>
            </div>
          </div>

          <table class="table table-striped table-hover">
            <tr>
              <td>Name</td>
              <td>{{ sessionService.me.name }}</td>
            </tr>
            <tr>
              <td>E-mail</td>
              <td>{{ sessionService.me.email }}</td>
            </tr>
            <tr>
              <td>Role</td>
              <td>
                  <span *ngIf="sessionService.me.role == 'admin'" class="badge badge-success">Admin</span>
                  <span *ngIf="sessionService.me.role == 'member'" class="badge badge-info">Member</span>
                  <span *ngIf="sessionService.me.role == 'superadmin'" class="badge badge-danger">Super Admin</span>
              </td>
            </tr>
          </table>          
        </div>
      </div>
    </div>
  </div>
</section>