@mixin z-index($name) {
    @if index($z-indexes, $name) {
        z-index: (length($z-indexes) - index($z-indexes, $name)) + 1;
    } @else {
        @warn 'There is no item "#{$name}" in this list; choose one of: #{$z-indexes}';
    }
}
