<h1 class="mt-4">Sobre nós</h1>

<hr>
<br>
<p>Este blog foi criado como parte da avalia&ccedil;&atilde;o da disciplina de Ci&ecirc;ncia, Tecnologia e Sociedade da Faculdade
    de Tecnologia da Unicamp de Limeira, no Segundo Semestre de 2017. O intuito da cria&ccedil;&atilde;o desta p&aacute;gina,
    &eacute; promover debates, discuss&otilde;es e reflex&otilde;es sobre assuntos do nosso cotidiano, mas que muitas vezes
    deixamos de lado, n&atilde;o s&oacute; por n&atilde;o percebermos, mas tamb&eacute;m por ignorarmos.&nbsp;</p>
<br>
<p>Acreditamos que as novas tecnologias criam a necessidade de novas habilidades e novos meios de aprendizagem. A tecnologia
    tem seu poder real nas formas de express&atilde;o que ela permite, nas novas formas de intera&ccedil;&atilde;o humana
    que ela facilita ou na possibilidade de tornar reais, poderosas ideias. Este blog tem como n&uacute;cleo a tecnologia
    e seus impactos. Iremos abordar assuntos envolvendo quebra de estere&oacute;tipos, educa&ccedil;&atilde;o STEM e processo
    envolvendo inova&ccedil;&atilde;o.</p>
<br>
<p>Nossa miss&atilde;o &eacute; informar e entreter o leitor que gosta de tecnologia e tamb&eacute;m quer expandir seus conhecimentos
    em assuntos de &acirc;mbito social e cultural!</p>

<br>