@import "1_settings/settings";
@import "2_tools/tools";
@import "3_generic/generic";
@import "4_base/base";
@import "5_objects/objects";
@import "6_components/components";
@import "7_theme/theme";
@import "8_trumps/trumps";

.image-upload {
  position: relative;
}

.image-upload span {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 45%;
  visibility: hidden;
  font-weight: bold;
}
  
.image-upload:hover span {
  visibility: visible;
}

.image-upload > input
{
  display: none;
}

.image-upload img
{
  width: 300px;
  height: 160px;
  cursor: pointer;
}

.image-upload:hover img
{
  opacity: 0.5;
}

/*

Settings:   Global variables, config switches.
Tools:      Default mixins and functions.
Generic:    Ground-zero styles (Normalize.css, resets, box-sizing).
Base:       Unclassed HTML elements (type selectors).
Objects:    Cosmetic-free design patterns.
Components: Designed components, chunks of UI.
Trumps:     Helpers and overrides.

*/
