<nav class="navbar navbar-expand-lg navbar-light mainNav fixed-top sps sps--abv">
  <div class="container">
    <div class="logo text-uppercase">
      <strong class="text-primary">Rocket</strong>
      <span>Blog</span>
    </div>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/blog']">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/blog', 'entrevista']">Entrevista</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/blog','about']">Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/blog','contact']">Contato</a>
        </li>
      </ul>
    </div>
  </div>
</nav>