<section id="post-section">
  <div *ngFor="let post of posts">
    <app-post-card [post]="post"></app-post-card>
  </div>
</section>
<!-- Pagination -->
<ul class="pagination justify-content-center mb-4">
  <li class="page-item" [ngClass]="{'disabled': currentPage >= pageCount - 1}">
    <a class="page-link" (click)="older()" scrollTo scrollTargetSelector="#post-section" scrollYTarget="432">&larr; Older</a>
  </li>
  <li class="page-item" [ngClass]="{'disabled': currentPage == 0}">
    <a class="page-link" (click)="newer()" scrollTo scrollTargetSelector="#post-section" scrollYTarget="432">Newer &rarr;</a>
  </li>
</ul>