body {
    @include font-size(1);
    line-height: 1.5rem;
    padding: 0;
    padding-bottom: 0;
    background-color: #fff;
    color: $gray-7b;
}

.pageBlog {
    padding-top: 50px;
}

.actions-right {
    position: absolute;
    right: 20px;
}