<header class="header">
  <nav class="navbarAdmin">
    <div class="container-fluid">
      <div class="navbarAdmin-holder d-flex align-items-center justify-content-between">
        <div class="navbarAdmin-header">
          <a class="navbarAdmin-brand">
            <div class="brand-text hidden-sm-down">
              <strong class="text-primary">Rocket</strong>
              <span>Blog</span>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <strong class="text-primary"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</strong>
            </div>
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>