$turquese: #1abc9c;
$turquese-heavy: #16a085;
$green: #2ecc71;
$green-heavy: #27ae60;
$blue: #3498db;
$blue-heavy: #2980b9;
$violet: #9b59b6;
$violet-heavy: #8e44ad;
$yellow: #f1c40f;
$yellow-heavy: #f39c12;
$orange: #e67e22;
$orange-heavy: #d35400;
$red: #e74c3c;
$red-heavy: #c0392b;
$champagne: #ecf0f1;
$champagne-heavy: #bdc3c7;
$metal: #95a5a6;
$metal-heavy: #7f8c8d;
$asphalt: #34495e;
$asphalt-heavy: #2c3e50;
$carbon: #555459;
$carbon-heavy: #3b3a3e;
$white: #ffffff;
$gray-f9: #f9f9f9;
$gray-ee: #eeeeee;
$gray-e8: #e8e8e8;
$gray-c5: #c5c5c5;
$gray-bb: #bbbbbb;
$gray-af: #afafaf;
$gray-a3: #a3a2a7;
$gray-91: #919098;
$gray-7b: #7b7b7b;
